# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.prueba heightmaps.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Developer\Projects\Unity\curso-unity-2020\prueba heightmaps\.idea\.idea.prueba heightmaps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
